.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .chat-icon {
    background-color: #19a7d7;
    color: white; 
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .user-list {
    position: absolute;
    bottom: 70px; 
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 200px; 
    padding: 10px;
  }
  
  .user-list li {
    display: flex;
    align-items: flex-start; 
    padding: 5px 0;
    cursor: pointer; 
}

.user-list li span {
    margin-left: 10px;
    flex-grow: 1; 
}

.user-list li:hover {
    background-color: #f0f0f0; 
}
 
  .chat-window {
    position: fixed;
    bottom: 70px; 
    right: 20px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px; 
    padding: 10px;
    z-index: 1001; 
  }
  